{% extends 'base.html' %}
{% block content %}
{% for review in book_reviews %}

    <div class="card" style="width: 20rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ review.book_title }}</h5>
            <h6 class="card-subtitle text-muted">{{ review.book_tags }} | {{ review.article_date }}</h6>
            <div class="dropdown-divider"></div>
        <div class="card-body">
            <a href=""><button type="button" class="btn btn-success">Weiterlesen</button></a>
        </div>
    </div>

{% endfor %}
{% endblock %}