{% extends 'base_new.html' %}
{% load static %}

{% block content %}

<div class="w-container">
    <h1 class="heading">Über mich</h1>
    <div class="w-row">
    <div class="column w-col w-col-4">
        <h2>Bild</h2>
    </div>
    <div class="column-2 w-col w-col-8">
        <h2>Text</h2>
    </div>
    </div>


    <div class="w-row">
        <div class="timeline">
            <div class="timeline-dot timeline-dot-1"></div>
            <div class="timeline-text-1">2013</div>
        </div>
    </div>

    <div class="w-row">
        <h2>Einschulung ISF</h2>
        <p class="paragraph">
            2013 wurde ich in die Inselschule Fehmarn eingeschult. Die Inselschule Fehmarn ist eine Gemeinschaftsschule an der Ostsee. Eine
            Gemeinschaftsschule verbindet alle drei Bildungsgrade miteinander. Man arbeitet in einer Klasse auf Hauptschul-, Realschul- und Abiturniveau.
            Dort erreichte ich dann meinen ESA (Ersten Schulabschluss) nach der 9. Klasse.
        </p>
    </div>

    <div class="w-row">
        <div class="timeline">
            <div class="timeline-dot timeline-dot-1 timeline-dot-lowlight"></div>
            <div class="timeline-dot timeline-dot-2"></div>
            <div class="timeline-text-2">2019</div>
        </div>
    </div>

    <div class="w-row">
        <h2>Praktikum Versant/Actian 10. Klasse</h2>
        <p class="paragraph">
            In der 10. Klasse war ich dann zu Besuch bei Actian in Hamburg. Actian ist ein Softwareentwicklungsunternehmen, welches sich auf hybrides
            Datenmanagement und die Analyse derer spezialisiert. Dort hatte ich die Möglichkeit als "Praktikant" einen Einblick in viele Bereiche des
            Unternehmens zu erlangen und an dem Eclipse Plugin für die Versant JPA (Java Persistence API) zu arbeiten.
        </p>
    </div>

    <div class="w-row">
        <div class="timeline">
            <div class="timeline-dot timeline-dot-1 timeline-dot-lowlight"></div>
            <div class="timeline-dot timeline-dot-2 timeline-dot-lowlight"></div>
            <div class="timeline-dot timeline-dot-3"></div>
            <div class="timeline-text-3">2020</div>
        </div>
    </div>

    <div class="w-row">
        <h2>Praktikum Versant/Actian 11. Klasse</h2>
        <p class="paragraph">
            In der 11. Klasse war ich dann wieder bei Actian. Dieses Mal habe ich dort Recherche für einen Entitlement Service für Salesforce, Zwecks des neues
            Avalanche Produkts betrieben. Ziel war es das Beste webservice Framework und die dazugehörige Sprache zu finden. Meine Ergebnisse trug ich zusammen
            und stellte die jeweiligen Vorteile, Nachteile und meine Empfehlung in einem Meeting dem Entwickler- und QA-Team vor.
        </p>
    </div>

    <div class="w-row">
        <div class="timeline">
            <div class="timeline-dot timeline-dot-1 timeline-dot-lowlight"></div>
            <div class="timeline-dot timeline-dot-2 timeline-dot-lowlight"></div>
            <div class="timeline-dot timeline-dot-3 timeline-dot-lowlight"></div>
            <div class="timeline-dot timeline-dot-4"></div>
            <div class="timeline-text-4">2022</div>
        </div>
    </div>

    <div class="w-row">
        <h2>Abitur</h2>
        <p class="paragraph">
            Im Juni 2022 werde ich voraussichtlich mein Abitur an der Inselschule Fehmarn absolvieren. Meine Pläne sind ein duales Studium in der angewandten
            Informatik in der Umgebung Hamburg oder Kiel zu beginnen. Wie sich dies dann allerdings genauer gestaltet, steht noch in den Sternen.
        </p>
    </div>

</div>

{% endblock %}