{% extends "base_new.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="column col col-4">
            <div class="project-card">
                <div class="project-title">CS:GO Melon</div>
                <div class="project-desc">CS:GO MELON is an elo calculation tool for Counterstrike: Global Offensive using Valve's Gamestate Integration.</div>
                <div class="project-image"></div>
                <div class="button project-button">Mehr</div>
            </div>
        </div>
        <div class="column col col-4">
            <div class="project-card">
                <div class="project-title"></div>
                <div class="project-desc"></div>
                <div class="project-image"></div>
                <div class="button project-button">Mehr</div>
            </div>
        </div>
        <div class="column col col-4">
            <div class="project-card">
                <div class="project-title"></div>
                <div class="project-desc"></div>
                <div class="project-image"></div>
                <div class="button project-button">Mehr</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}