{% extends 'base_new.html' %}
{% block content %}


<div class="container">
    <h1 class="heading">Blog</h1>
    <ul role="list" class="list-unstyled">

    {% for article in articles %}

      <li class="bloglistitem">
        <h3 class="blogheading">{{ article.title }}</h3>
        <div class="blogintroduction">{{ article.introduction }}</div>
        <div class="row">
          <div class="col col-6">
            <a href="#" class="blogbutton button">Artikel lesen</a>
          </div>
          <div class="blogdatecolumn col col-6">
            <h5 class="blogdate">{{ article.publish_date }}</h5>
          </div>
        </div>
      </li>

    {% endfor %}

    </ul>
  </div>

{% endblock content %}