{% extends "base.html" %}
{% load static %}
{% block content %}

<table class="table table-bordered table-hover" style="background-color: rgb(79, 81, 87); color: black;">
    <thead style="background-color: rgb(155, 153, 153);">
        <tr>
            <th scope="col" style="width:50px;"><div align="center">#</div></th>
            <th scope="col">Name</th>
            <th scope="col">Elo</th>
            <th scope="col">Rang</th>
        </tr>
    </thead>
    <tbody style="color: rgb(221, 214, 214)">

        {% for player_object in player_data %}
        {% if forloop.counter == 1 %}
        <tr style="background-color: rgba(255, 217, 0, 0.37)">
        {% endif %}
        {% if forloop.counter == 2 %}
        <tr style="background-color: rgba(192, 192, 192, 0.37)">
        {% endif %}
        {% if forloop.counter == 3 %}
        <tr style="background-color: #bf897054">
        {% endif %}
        {% if forloop.counter > 3 %}
        <tr>
        {% endif %}
        
            <th><div align="center">{{ forloop.counter }}</div></th>
            <td>{{ player_object.name }}</td>
            <td>{{ player_object.elo }}</td>

            {% if forloop.first %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% elif forloop.last %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% elif player_object.elo > 1625 %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% elif player_object.elo > 1525 %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% elif player_object.elo > 1450 %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% elif player_object.elo > 1350 %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% elif player_object.elo > 1100 %}
            <td width="200px"><div align="center"><img src="{% static 'csgo/untersteschublade.png' %}" width="100px"></div></td>
            {% endif %}
    
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock content %}