{% extends "base_new.html" %}
{% load static %}
{% block content %}
<a href="{% url 'select_players' %}" class="btn btn-success" style="margin-bottom: 15px;">Teams generieren</a>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Elo</th>
            <th>Rang</th>
        </tr>
    </thead>
    <tbody>

        {% for player_object in player_data_ranked %}
        {% if forloop.counter == 1 %}
        <tr style="background-color: rgba(255, 217, 0, 0.37)">
        {% endif %}
        {% if forloop.counter == 2 %}
        <tr style="background-color: rgba(192, 192, 192, 0.37)">
        {% endif %}
        {% if forloop.counter == 3 %}
        <tr style="background-color: #bf897054">
        {% endif %}
        {% if forloop.counter > 3 %}
        <tr>
        {% endif %}
        
            <th>{{ forloop.counter }}</th>
            <td><a href="{{ player_object.steam_id }}">{{ player_object.name }}</a></td>
            <td>{{ player_object.elo }}</td>

            {% if forloop.first %}
            <td><img src="{% static 'csgo/niko.png' %}" width="100px"></td>
            {% elif forloop.last %}
            <td><img src="{% static 'csgo/schublade.png' %}" width="100px"></td>
            {% elif player_object.elo > 1625 %}
            <td><img src="{% static 'csgo/omega.png' %}" width="100px"></td>
            {% elif player_object.elo > 1575 %}
            <td><img src="{% static 'csgo/alpha.png' %}" width="100px"></td>
            {% elif player_object.elo > 1525 %}
            <td><img src="{% static 'csgo/beta.png' %}" width="100px"></td>
            {% elif player_object.elo > 1450 %}
            <td><img src="{% static 'csgo/gamma.png' %}" width="100px"></td>
            {% elif player_object.elo > 1350 %}
            <td><img src="{% static 'csgo/beep_boop.png' %}" width="100px"></td>
            {% elif player_object.elo > 1200 %}
            <td><img src="{% static 'csgo/bots.png' %}" width="100px"></td>
            {% endif %}
    
        </tr>

        {% endfor %}

    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Noch zu spielende Matches</th>
        </tr>
    </thead>
    <tbody>

        {% for player_object, placement_matches in player_data_unranked %}
       
        <tr>
        
            <th>{{ forloop.counter }}</th>
            <td><a href="{{ player_object.steam_id }}">{{ player_object.name }}</a></td>
            <td>{{ placement_matches }}</td>
    
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock content %}