{% extends "base.html" %}
{% load static %}
{% block content %}

<table class="table table-borderless">
    <tbody style="color: white;">
        <form method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}
            {{ form.errors }}
            {{ form.username.errors }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
            <tr>
                <td>
                    Nutzername:
                </td>
                <td>
                    {{ form.username }}
                </td>
            </tr>
            <tr>
                <td>
                    Passwort:
                </td>
                <td>
                    {{ form.password1 }}
                </td>
            </tr>
            <tr>
                <td>
                    Bestätigung:
                </td>
                <td>
                    {{ form.password2 }}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-success" value="Registrieren">
                </td>
            </tr>
            
        </form>
    </tbody>
</table>
{% endblock content %}