{% extends "base.html" %}
{% block content %}
{% for article in articles %}

    <div class="card" style="width: 50rem; margin:2rem; color: white; background-color: rgb(65, 70, 73);">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <h6 class="card-subtitle"  align="right">{{ article.publish_date }}</h6>
            <div class="dropdown-divider"></div>
        <div class="card-body">
            <div class="card-subtitle" align="left">{{ article.introduction }}</div>
        </div>
        <a href=""><button type="button" class="btn btn-success" style="margin-top: 2rem">Weiterlesen</button></a>
        </div>
    </div>

{% endfor %}
{% endblock content %}